body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font-size: 14px;}
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

html ,body{
    height: 100%;
}
body {
    min-height: 100%;
}
body>{
    min-height: 100%;
}

/*工具样式*/
/*清除浮动*/
.clearF{
    clear: both;
}
/*按钮样式*/
.common_btn{
    border-radius:5px;
    outline:none;
    color:#fff;
    text-align:center;
    border:none;
    background:#cb1013;
    line-height:34px;
    font-size:15px;
    width:200px;
}
.common_btn:hover{
    cursor:pointer;
    background:#e01013;
}
.common_btn1{
    text-indent:6px;
    letter-spacing:3px;
}
.common_input{
    display:block;
    width:100%;
    border-radius:5px;
    height:26px;
    padding:0 10px;
    outline:none;
    border:1px solid #b3b0b0;
}
/*公共宽度计算*/
.common_width{
    width: 90%;
    max-width: 120px;
    min-width: 900px;
    margin: 0 auto;
}
/*顶部公共样式 start*/
.common_top{
    width: 100%;
    color: #666;
    font-size: 12px;
    box-shadow: 0 -8px 15px 1px #cb1013;
    background:#fff;
}
.common_top .top-box span{
    line-height: 30px;
}
.common_top .top-box span:hover{
    color: #cb1013;
    cursor: pointer;
}
.common_top .left{
    float: left;
}
.common_top .left span{
    margin-right: 20px;
}
.common_top .right span{
    float: right;
    margin-left: 20px;
}
/*顶部公共样式 end*/
/*公共边框*/
.common_border{
    border:1px solid #b3b0b0;
    border-radius:5px;
}

/*注册页等公共背景 start*/
.common_bg{
    width:100%;
    height:calc(100% - 30px);
    position:relative;
    top:0;
    box-sizing:border-box;
    padding-top:30px;
    background:url('../image/bg.png') no-repeat center bottom;
}
.common_bg .title{
    text-align:left;
    padding-left:50px;
    background:url('../image/logo.jpg') no-repeat left center;
    line-height:50px;
    font-size:26px;
    color:#cb1013;
    box-sizing: border-box;
}
.common_bg .content{
    margin:80px auto 0;
}
/*注册页等公共背景 send*/
/*注册成功页*/
.registered_successfully{}
.registered_successfully .common_bg{}
.registered_successfully .common_bg .content{
    background:rgba(113, 8, 8, 0.11);
    padding:80px 0 70px 0;
    text-align:center;
    width:150px;
}
.registered_successfully .common_bg .content p{
    width: 290px;
    margin: 0 auto 0;
    font-size: 13px;
    color: #cb1013;
    padding-left: 0px;
    box-sizing: border-box;
    background: url(../image/oval.png) no-repeat left center;
    background-size: 22px;
    line-height: 22px;
    text-align: right;
}
.registered_successfully .common_bg .content .btns{
    margin-top:30px;
}
.registered_successfully .common_bg .content .btns button{
    margin:10px auto 0;
    display:block;
    background:rgba(113, 8, 8, 0);
    border:1px solid #cb1013;
    color:#cb1013;

}
.registered_successfully .common_bg .content .btns button:hover{
    border:1px solid rgba(113, 8, 8, 0);
    color:#fff;
    background:#cb1013;
}
/*注册页*/
.register{}
.register .common_bg{

}
.register .common_bg .content *{
    box-sizing:border-box;
}
.register .common_bg .content{
    width:400px;
}
.register .common_bg .content .name{
    font-size:16px;
    width:100px;
    padding-right:16px;
    text-align:right;
    padding-bottom:10px;
}
.register .common_bg .content .input-box{
    margin-top:26px;
}
.register .common_bg .content .input-box label{
    float:left;
    width:100px;
    text-align:right;
    padding-right:16px;
    line-height:30px;
    color:#333;
}
.register .common_bg .content .input-box input{
    float:left;
    width:calc(100% - 130px);
    height:30px;
}
.register .common_bg .content .input-box i{
    width:26px;
    height:26px;
    float:right;
    background:url('../image/accomplish.png') no-repeat right center;
}
.register .common_bg .content .verify input{
    width:calc(100% - 130px - 100px);
}
.register .common_bg .content .verify>div{
    width:80px;
    float:left;
    margin-left:18px;
    line-height:26px;
    border:1px solid #b3b0b0;
    border-radius:5px;
    text-align:center;
    font-size:12px;
    color:#b3b0b0;

}
.register .common_bg .content .verify>div:hover{
    cursor:pointer;
}
.register .common_bg .content .input-box button{
    width:calc(100% - 100px);
    float:right;
    line-height:36px;
    font-size:15px;
}
.register .common_bg .content .input-box.upload-head input{
    visibility:hidden;
    width:1px;
    float:right;
}
.register .common_bg .content .input-box.upload-head .show-btn:hover{
    cursor:pointer;
}
.register .common_bg .content .input-box.upload-head .show-btn{
    width:80px;
    height:80px;
    border:1px solid #b3b0b0;
    border-radius:5px;
    background:#fff url('../image/add.png') no-repeat center;
    float:left;
}
/*找回密码*/
.find-password.register .common_bg .content .input-box button{
    width:120px;
    float:left;
}
















